body {
    margin: 0 auto;
    width: 700px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /*border: 3px solid red;*/
}
a {
    color:1px solid #454545;
    text-decoration: none;
}
a:visited, a:active {
    color:1px solid #000000;
    text-decoration: none;
}
.Box {
    margin: 0 auto;
    margin-top: 25px;
    width: 575px;
    height: 110px;
    border: 1px solid #454545;
}
h1 {
    margin: 0 auto;
    margin-top: 10px;
    font-size: 275%;
    font-weight: 150;
}
.Box p {
    font-size: 80%;
    font-style: italic;
    font-weight: 30;
}
.Pictures {
    margin: 0 auto;
    margin-top: 70px;
    width: 700px;
    /*border: 3px solid green;*/

}
.Pictures img {
    object-fit: cover;
    height: 330px;
    width: 330px;
    /*border: 3px solid yellow;*/
}
.Pictures p {
    margin-bottom: 5px;
    margin-left: -590px;
    font-size: 150%;
}
.FooterBox {
    margin: 0 auto;
    height: 100px;
    width: 200px;
    /*border: 3px solid purple;*/
}
footer {
    margin-top: 10px;
    text-align: center;
    font-size: 50%;
    font-style: italic;
}
.FooterBox img {
    margin-top: 20px;
    margin-left: 20px;
    width: 15px;
}